:root {
    --accent-color-primary: rgb(179, 0, 202);
    --accent-color-background: rgba(152, 0, 182, 0.05);
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: azure;
}